// Toastmasters colors

$tm-blue: #004156;
$tm-yellow: #F2DF74;
$tm-grey: #A9B2B1;
$tm-red: #CD202C;
$tm-crimson: #772432;

// Responsive media queries

$responsive-small: "only screen and (max-width: 689px)";
$responsive-small-medium: "only screen and (max-width: 1023px)";
$responsive-medium: "only screen and (min-width: 690px) and (max-width: 1023px)";
$responsive-medium-large: "only screen and (min-width: 690px)";
$responsive-large: "only screen and (min-width: 1024px)";
